@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "lobster";
  src: url("../public/Lobster-Regular.ttf");
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-gray-100;
  }
}
